.button {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  background-color: #252c41;
  height: 60px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: Arial, 'Roboto', sans-serif;
  text-align: center;
  line-height: 60px;
  margin-right: 0;
}

.button.-first {
  margin-right: 40px;
  background-color: transparent;
  border: solid 2px #fff;
}