.header-store {
  color: #fff;
  overflow: hidden;
  padding-left: 60px;
  margin-bottom: 138px;
}

.navigation-header {
  font-size: 21px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  text-transform: capitalize;
  float: right;
}

.search-header {
  background: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  color: inherit;
  font-family: 'Arial', 'Roboto', sans-serif;
  font-size: 20px;
  padding: 8px;
  width: 358px;
  margin-right: 65px;
}

.logo-header {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Arial', 'Roboto', sans-serif;
  float: left;
}

.menu-header {
  color: inherit;
  margin-right: 60px;
}

.menu.-last {
  margin-right: 0;
}