.header-store {
  color: #fff;
  overflow: hidden;
}

.navigation-header {
  font-size: 21px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  text-transform: capitalize;
  float: right;
}

.logo-header {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Arial', 'Roboto', sans-serif;
  float: left;
}

.menu-header {
  color: inherit;
  margin-right: 60px;
}

.-last {
  margin-right: 0;
}