header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 115px;
  padding: 60px 60px 95px;
}

nav {
  font-size: 21px;
  font-family: 'Segoe UI', 'Roboto',sans-serif;
  text-transform: capitalize;
  float: right;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Arial', 'Roboto', sans-serif;
  float: left;
}

a {
  color: inherit;
  padding-right: 60px;
}